<!-- Signup form -->
<dialog class="mdl-dialog dialog-signup">
<h4 class="mdl-dialog__title">Signup</h4>
<div class="mdl-dialog__content">
	<form action="#">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="email_signup">
			<label class="mdl-textfield__label" for="email_signup">Email...</label>
		</div>
	</form>
</div>
<div class="mdl-dialog__actions">
	<button type="button" class="mdl-button">Signup</button>
	<button type="button" class="mdl-button close">Close</button>
</div>
</dialog>