<!-- Login form -->
<dialog class="mdl-dialog dialog-login">
<h4 class="mdl-dialog__title">Login</h4>
<div class="mdl-dialog__content">
	<form action="#">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="login_email">
			<label class="mdl-textfield__label" for="login_email">Email...</label>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="password" id="login_password">
			<label class="mdl-textfield__label" for="login_password">Password...</label>
		</div>
		<label class = "mdl-checkbox mdl-js-checkbox" for = "remember">
			<input type = "checkbox" id = "remember" class = "mdl-checkbox__input">
			<span class = "mdl-checkbox__label">Remember me</span>
		</label>
	</form>
</div>
<div class="mdl-dialog__actions">
	<button type="button" class="mdl-button">Login</button>
	<button type="button" class="mdl-button close">Close</button>
</div>
<br>
<hr class="hr-login">
<br>
<a class="btn btn-block btn-social btn-facebook">
	<span class="fa fa-facebook"></span> Sign in with Facebook
</a>
<a class="btn btn-block btn-social btn-google">
	<span class="fa fa-google"></span> Sign in with Google
</a>
</dialog>