<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<span class="mdl-layout-title">Funchat</span>
		<div class="mdl-layout-spacer"></div>
		<!-- Right aligned menu below button -->
		<button id="demo-menu-lower-right"
		class="mdl-button mdl-js-button">
		<img src="public/img/profile_img.png" class="profile"  alt="">
		</button>
		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
			for="demo-menu-lower-right">
			<li class="mdl-menu__item">Profile</li>
			<li class="mdl-menu__item">Preferences</li>
			<li class="mdl-menu__item">Logout</li>
		</ul>
	</div>
</header>